* {
    box-sizing: border-box;
}

body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.details_pages {
    background: url('images/background.jpg') no-repeat center fixed;
    background-size: cover;
}

.carpool_bg {
    background: url('images/carpool.jpg') no-repeat center fixed;
    background-size: cover;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.primary__color {
    color: #0099ff;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.button--success {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.button--success:hover {
    background-color: #228626;
}

.button--danger {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.button--danger:hover {
    background-color: #8A2018;
}


/*_______navigation________*/

.topnav {
    background-color: #F8F8FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_container {
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.brand_name {
    color: #0099ff;
    font-weight: 800;
}

.navtoggle {
    display: none;
}

.nav_pull_right {
    display: flex;
    align-items: center;
}

.navlink {
    margin: 0 10px;
}

.navlink a {
    text-decoration: none;
    color: #66c2ff;
    font-weight: 600;
    padding: 10px;
}

.navlink a:hover {
    background: #66c2ff;
    color: #F8F8FF;
}

.nav_separator {
    display: none;
}

.content_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_container {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro h1 {
    font-size: 30px;
    color: #0099ff;
}

.intro p {
    color: #0099ff;
}


/*__________signup form_________*/

.access_form {
    position: relative;
    background: #F8F8FF;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.form_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form_header h1 {
    color: #0099ff;
}

.form_group {
    display: flex;
    flex-direction: column;
    margin: 5px 0 10px 0;
}

.form_input {
    padding: 10px;
    margin: 0;
    font-size: 80%;
    width: 300px;
    border: none;
}

.form_input:focus {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    outline: none;
}

.form_action {
    width: 100%;
}

.btn_submit {
    width: 100%;
    padding: 5px;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
    background: #4CAF50;
    color: #ffffff;
}

.btn_submit:hover {
    background: #196619;
}

.form_action p a {
    text-decoration: none;
    color: #0099ff;
}

.form_action p a:hover {
    text-decoration: underline;
}

.main_footer {
    background: #F8F8FF;
    padding: 5px;
    margin-top: 20px;
    width: 100%;
}

.main_footer p {
    color: #0099ff;
    text-align: center;
}

.fixed_bottom {
    position: fixed;
    bottom: 0px;
}

.main_content {
    border: 10px solid white;
    width: 70%;
    background: #FFFFFF;
    margin-top: 20px;
    border-radius: 5px;
}

.main_content_header h1 {
    color: #0099ff;
}

.badge {
    background: #0099ff;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    padding: 5px;
    min-width: 50px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
}

td,
th {
    padding: 10px;
}

thead {
    background: #0099ff;
    color: white;
    border-bottom: 1px solid grey;
}

tr {
    border-bottom: 1px solid grey;
}

tr:last-child {
    border-bottom: none;
}

.red_bg {
    color: red;
    text-decoration: underline;
}

.view_btn {
    background: #009900;
    color: white;
    padding: 5px;
    border-radius: 30px;
    width: 50px;
    cursor: pointer;
    box-shadow: 0 0 0 0;
}

.view_btn:hover {
    background: #025A02;
}

.details_main_content {
    margin-top: 20px;
    width: 40%;
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
}

.tbl_details {
    font-size: 20px;
    color: #0099ff;
    padding: 20px;
}

.description {
    font-weight: 700;
    text-align: left;
}

.action_buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn_success {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn_success:hover {
    background-color: #228626;
}

.btn_danger {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn_danger:hover {
    background-color: #8A2018
}

.btn_success a,
.btn_danger a {
    text-decoration: none;
    color: white;
}

.divider {
    border: 2px solid #000000;
    font-weight: 700;
}

.create_form_group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create_form_input {
    padding: 10px;
    border-radius: 5px;
    border: none none 1px none;
    box-shadow: none;
    font-size: 16px
}

.create_form_input:focus {
    outline: none;
    background: rgba(0, 0, 0, 0.1);
}

.requests {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.requests__header {
    width: 70%;
}

.request__header {
    background-color: #BDBABA;
    color: #444;
    cursor: pointer;
    padding: 16px;
    font-size: 16px;
    width: 100%;
    text-align: left;
    box-shadow: 5px 5px 5px grey;
    display: flex;
    justify-content: space-between;
}

.request__header:hover {
    background-color: #ccc;
}

.request {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    margin-bottom: 10px;
}

.title__number {
    background: #0099ff;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    text-align: center;
    border-radius: 50%;
}

.request__body {
    background: #eee;
    padding: 0 10px;
    width: 100%;
    border: 1px solid grey;
    box-shadow: 5px 5px 5px grey;
}

.request__items {
    list-style: none;
    margin: 0;
    padding: 10px 0;
}

.request__item {
    padding: 10px 0;
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
}

.request__item span a {
    text-decoration: none;
    color: #0099ff;
}

.request__item span a:hover {
    color: rgba(0, 153, 255, 0.64);
}

.item__pull-right {
    margin-left: auto;
    margin-right: 10px;
}

.request__item:last-child {
    border: none;
}

@media only screen and (max-width: 768px) {
    .body {
        font-size: 16px;
    }
    .nav_container,
    .nav_pull_right {
        flex-direction: column;
    }
    .navbrand {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navtoggle {
        display: initial;
        cursor: pointer;
    }
    .nav_pull_right {
        display: none;
        align-items: flex-start;
    }
    .nav_show,
    show {
        display: flex;
    }
    .navlink {
        margin: 0 0 10px 0;
    }
    .navlink a {
        padding: 0;
    }
    .nav_separator {
        display: flex;
    }
    .content_container {
        flex-direction: column;
    }
    .intro p {
        display: none;
    }
    .main_content {
        width: 95%;
    }
    table {
        width: 90%;
    }
    .details_main_content {
        width: 95%;
    }
    .create_form_group {
        flex-direction: column;
        align-items: flex-start;
    }
    .create_form_input {
        width: 100%;
        margin-top: 10px;
    }
    .request,
    .requests__header {
        width: 95%;
    }
}